*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
body{
    padding: 80px;
}
#task{
    padding: 5px 10px;

}
h1{
    margin-bottom: 15px;
}
#add{
    padding: 5px 10px;
}
.header{
    width: 100%;
    margin-bottom: 50px;
}
.task{
    width: 80vw;
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.delete{
    padding: 5px;
}